html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #222;
    color: #EEE;
}

#pot_container {
    left: 0;
    position: absolute;
    top: 0;
    font-weight: bold;
    text-align: center;
    background: #E53C38;
    padding: 10px;
}

#main_container {
    margin: 25px auto auto;
    text-align: center;
    padding: 10px;
}

/**
CSS elements for index.php
 */

.player_container {
    height: 350px;
    width: 300px;
    text-align: center;
    background: #3a3a3a;
    display: inline-block;
    position: relative;
    margin: 10px auto auto 10px;
}

.player_name {
    padding: 20px;
    background: #fd625e;
    font-weight: 700;
    font-size: 24px;
}

.player_chips {
    padding: 10px;
}

.player_stats {
    padding: 10px;
}

.current_bid {
    font-size: 20px;
    font-weight: bold;
}

button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    width: 280px;
    padding: 20px;
    border: none;
    background: #fd625e;
    color: white;
}

button:hover {
    background: #E53C38;
    cursor: pointer;
}